.header {
    background-color: #ffffff; /* Используем темный цвет для контраста */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Используем более красочный шрифт */
    font-size: 18px;
    background-color: #ffffff;
    overflow: hidden;
    color: #333;
}
.logo-link {
    display: inline-block; 
}
.logo {
    background: url('photo/u0.png') center/cover no-repeat;
    width: 80px;
    height: 80px;
}
.menu {
    display: flex;
    margin-left: 50px;
}
.menu-item {
    margin-right: 50px;
    padding: 10px;
    text-decoration: none;
    color: #000000;
    position: relative;
}
.menu-item:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgba(255, 228, 1, 1);
    bottom: -5px;
    left: 0;
}
.login-btn {
    background-color: rgba(255, 228, 1, 1);
    color: #333; /* Цвет текста черный для контраста */
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin-left: auto; /* Перемещаем кнопку входа вправо */
    cursor: pointer;
    margin-right: auto;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.main-content {
    display: flex;
    height: 486px;
}
.dropdown {
    margin-top: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    z-index: 1;
}

.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.panel {
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    margin-top: 40px;
}
.square {
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    top: 81%;
    left: 0;
    animation: moveRight 10s linear infinite; /* анимация движения вправо */
  }
  
  @keyframes moveRight {
    0% {
      left: 0;
    }
    100% {
      left: calc(100% - 50px); /* квадрат перемещается на ширину экрана минус его собственная ширина */
    }
  }
  .button {
    padding: 32px 5px;
    background-color: #0059b8;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #b92929;
  }
  
  .element {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgb(251, 255, 37);
    opacity: 0; /* изначально делаем элемент невидимым */
    transition: opacity 0.5s ease; /* анимация появления */
  }
  
  #toggle:checked ~ .element {
    opacity: 1; /* при нажатии на метку элемент становится видимым */
  }
  